<div class="flex justify-center items-center h-screen bg-gray-100">
  <form
    [formGroup]="form"
    (ngSubmit)="login()"
    class="bg-white shadow-lg p-8 rounded-lg w-full max-w-sm space-y-4"
  >
    <h2 class="text-2xl font-bold text-center mb-4">Login</h2>

    <div>
      <label for="email" class="block text-sm font-medium mb-1">Email</label>
      <input
        id="email"
        type="email"
        formControlName="username"
        class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>

    <div>
      <label for="password" class="block text-sm font-medium mb-1"
        >Password</label
      >
      <input
        id="password"
        type="password"
        formControlName="password"
        class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>

    <button
      type="submit"
      class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded"
    >
      Login
    </button>
  </form>
</div>
